* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: antiquewhite;
}

table {
    border-collapse: collapse;
    border: 5px solid rgb(82, 109, 36);
    text-align: left;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

thead, th {
    line-height: 1.3;
    /* background-color: rgba(85, 107, 47, 0.593); */
    background-color: rgba(82, 109, 36, 0.757);
    color: white;
    font-family: "Inknut Antiqua";
    padding: 8px;
    padding-top: 12px;
}

td {
    border-top: 3px solid rgb(82, 109, 36);
    background-color: white;
    padding: 8px;
    padding-top: 12px;
}

h1 {
    font-size: 80px;
    width: 80%;
    line-height: 1.5;
    color: antiquewhite;
}
h3 {
    width: 800px;
    line-height: 1;
    color: rgba(82, 109, 36, 0.757);
}

h1, h3 {
    text-align: center;
    display: block;
    margin: 10px auto;
    font-family: 'Inknut Antiqua';
}

strong {
    background-color: white;
}

.banner {
    background-color: rgba(82, 109, 36, 0.757);
    width: 100%;
    z-index: 1;
}

.code {
    /* background-color: rgba(218, 165, 32, 0.691); */
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}