* {
  color: rgb(82, 109, 36);
  font-family: 'Karla', sans-serif;
}

.header {
  display: inline-block;
  text-align: center;
  margin: 15px auto;
  width: 100vw;
}

.banner {
  /* background-color: antiquewhite; */
  width: 100vw;
  z-index: 1;
}

hr {
  width: 71%;
  border: 2px solid rgba(82, 109, 36, 0.757);
  border-radius: 5px;
  margin: 15px auto;
}

/* intro!!! */
.intro {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  margin-bottom: 30px;
}

.intro p {
  line-height: 1.3;
}

#portrait {
  grid-column: 1;
}

.introText h3 {
  grid-column: 2;
  margin: auto 15px;
  /* min-width: 500px; */
}

.inlineLink {
  color:rgb(126, 168, 54);
  cursor: pointer;
}

.inlineLink:hover {
  text-decoration: wavy underline;
}


img {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

p {
  display: inline-block;
  margin: 5px auto 15px 15px;
  font-family: "Karla";
}

ul {
  margin-top: 5px;
  margin-bottom: 15px;
}



/* body!!! */

h1 {
  line-height: 1;
  font-size: 150px;
  /* font-family: 'Lilita One'; */
  
}
h2 {
  /* width: 800px; */
  line-height: 1;
  color: rgba(82, 109, 36, 0.757);
}

h3 {
  font-weight: 800;
  line-height: 0.8;
}


h1, h2 {
  text-align: center;
  display: block;
  margin: 10px auto;
  font-family: "Lilita One";
  /* font-family: 'Inknut Antiqua'; */
}


/* buttons!!! */
a.button {
  background-color: rgba(95, 125, 41, 0.9); 
  box-shadow: 0 5px 0 rgba(38, 50, 16, 0.757);
  /* border: 4px solid rgba(82, 109, 36, 0.757); */
  border-radius: 10px;
  color: rgb(249, 242, 232);
  padding: 15px 32px;
  margin: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: "Lilita One";
  transition-duration: 0.1s;
  text-decoration: none;
}

a.button:hover {
  /* background-color:white; */
  /* border: 4px solid rgba(82, 109, 36, 0.757); */
  /* color:rgba(82, 109, 36, 0.757); */
  background-color: rgba(121, 158, 52, 0.9);
  cursor: pointer;
}

a.button:active {
  box-shadow: none;
  transform: translateY(5px);
  /* background-color: rgba(113, 150, 50, 0.757); 
  color: white; */
}

.buttonSection {
  margin: 15px auto;
  height: 200px;
  position: relative;
}

.horizontalCenter {
  margin: 15px auto;
  text-align: center;
}

.body {
  margin: 0 auto;
  width: 70%;
}

#page {
  background-color: rgb(249, 242, 232);
  width: 73%;
  margin: 0px auto;
  padding: 20px;
  display: grid;
  justify-content: center;
}




