* {
  color: rgb(82, 109, 36);
  font-family: 'Karla', sans-serif;
}

.header {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 100%;
}

/* intro!!! */
.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  margin-bottom: 30px;
}

.intro p {
  line-height: 1.3;
}

#id {
  grid-column: 1;
}

.introText h3 {
  grid-column: 2;
  margin: auto 15px;
  min-width: 500px;
}

.inlineLink {
  text-decoration: wavy underline;
  color:rgb(82, 109, 36);
  cursor: pointer;
}

.inlineLink:hover {
  color:rgb(104, 137, 45);
}


img {
  display: inline-block;
  width: 400px;
  height: 266px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}


/* body!!! */

h1 {
  line-height: 1;
  font-size: 150px;
  /* font-family: 'Lilita One'; */
  
}
h2 {
  /* width: 800px; */
  line-height: 1;
  color: rgba(82, 109, 36, 0.757);
}

h3 {
  font-weight: 800;
}


h1, h2 {
  text-align: center;
  display: block;
  margin: 10px auto;
  font-family: "Lilita One";
  /* font-family: 'Inknut Antiqua'; */
}

a.button {
  background-color: rgba(82, 109, 36, 0.757); 
  border: 4px solid rgba(82, 109, 36, 0.757);
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: "Lilita One";
  transition-duration: 0.1s;
  text-decoration: none;
}

a.button:hover {
  background-color:white;
  border: 4px solid rgba(82, 109, 36, 0.757);
  color:rgba(82, 109, 36, 0.757);
  cursor: pointer;
}

a.button:active {
  transform: translateY(4px);
  /* background-color: rgba(113, 150, 50, 0.757); 
  color: white; */
}

p {
  display: inline-block;
  margin: 15px;
  font-family: "Karla";
}

.body {
  margin: auto;
  max-width: 1020px;
}

.banner {
  /* background-color: rgba(82, 109, 36, 0.757); */
  width: 100%;
  z-index: 1;
}



