* {
  font-family: Helvetica;
  display: inline-block;
}

h1 {
  font-family: "Inknut Antiqua";
  font-size: 80px;
  line-height: 1.5;
  color: rgba(82, 109, 36, 0.757);
}

.banner {
  text-align: center;
  width: 100%;
  z-index: 1;
}
