* {
  font-family: Helvetica;
}

h1 {
  font-family: "Inknut Antiqua";
  font-size: 80px;
  line-height: 1.5;
}

.banner {
  color: antiquewhite;
  background-color: rgba(82, 109, 36, 0.757);
  width: 100%;
  z-index: 1;
}
